<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">Api</directory>
            <directory suffix=".php">Block</directory>
            <directory suffix=".php">Console</directory>
            <directory suffix=".php">Controller</directory>
            <directory suffix=".php">Cron</directory>
            <directory suffix=".php">CustomerData</directory>
            <directory suffix=".php">Exception</directory>
            <directory suffix=".php">Helper</directory>
            <directory suffix=".php">Logger</directory>
            <directory suffix=".php">Model</directory>
            <directory suffix=".php">Observer</directory>
            <directory suffix=".php">Plugin</directory>
            <directory suffix=".php">Util</directory>
            <directory suffix=".php">Setup</directory>
            <directory suffix=".php">view</directory>
        </include>
    </source>
</phpunit>
