<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2020, Nosto Solutions Ltd
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without modification,
  ~ are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice,
  ~ this list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice,
  ~ this list of conditions and the following disclaimer in the documentation
  ~ and/or other materials provided with the distribution.
  ~
  ~ 3. Neither the name of the copyright holder nor the names of its contributors
  ~ may be used to endorse or promote products derived from this software without
  ~ specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
  ~ ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  ~ WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
  ~ ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  ~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
  ~ LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
  ~ ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
  ~ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~
  ~ @author Nosto Solutions Ltd <contact@nosto.com>
  ~ @copyright 2020 Nosto Solutions Ltd
  ~ @license http://opensource.org/licenses/BSD-3-Clause BSD 3-Clause
  ~
  -->

<!--suppress XmlUnboundNsPrefix -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nosto>
            <images>
                <version>image</version>
                <remove_pub_directory>0</remove_pub_directory>
            </images>
            <url>
                <store_code_to_url>1</store_code_to_url>
            </url>
            <flags>
                <variation_tagging>1</variation_tagging>
                <use_custom_fields>1</use_custom_fields>
                <altimg_tagging>1</altimg_tagging>
                <rating_tagging>1</rating_tagging>
                <inventory_tagging>0</inventory_tagging>
                <product_updates>1</product_updates>
                <low_stock_indication>0</low_stock_indication>
                <send_customer_data>1</send_customer_data>
                <indexer_memory>50</indexer_memory>
                <tag_date_published>0</tag_date_published>
                <track_multi_channel_orders>1</track_multi_channel_orders>
                <product_caching>0</product_caching>
            </flags>
            <multicurrency>
                <method>undefined</method>
                <pricing_variation>0</pricing_variation>
            </multicurrency>
        </nosto>
    </default>
</config>
