<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2020, Nosto Solutions Ltd
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without modification,
  ~ are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice,
  ~ this list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice,
  ~ this list of conditions and the following disclaimer in the documentation
  ~ and/or other materials provided with the distribution.
  ~
  ~ 3. Neither the name of the copyright holder nor the names of its contributors
  ~ may be used to endorse or promote products derived from this software without
  ~ specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
  ~ ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  ~ WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
  ~ ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  ~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
  ~ LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
  ~ ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
  ~ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~
  ~ @author Nosto Solutions Ltd <contact@nosto.com>
  ~ @copyright 2020 Nosto Solutions Ltd
  ~ @license http://opensource.org/licenses/BSD-3-Clause BSD 3-Clause
  ~
  -->
<!--suppress XmlUnboundNsPrefix -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Stdlib\CookieManagerInterface" type="Magento\Framework\Stdlib\Cookie\PhpCookieManager"/>
    <preference for="Nosto\Tagging\Model\Service\Product\Category\CategoryServiceInterface" type="Nosto\Tagging\Model\Service\Product\Category\CachingCategoryService"/>
    <preference for="Nosto\Tagging\Model\Service\Product\Attribute\AttributeServiceInterface" type="Nosto\Tagging\Model\Service\Product\Attribute\CachingAttributeService"/>
    <preference for="Nosto\Tagging\Model\Service\Product\Attribute\AttributeProviderInterface" type="Nosto\Tagging\Model\Service\Product\Attribute\DefaultAttributeProvider"/>
    <preference for="Nosto\Tagging\Model\Service\Product\ProductServiceInterface" type="Nosto\Tagging\Model\Service\Product\DefaultProductService"/>
    <preference for="Nosto\Tagging\Model\Service\Stock\Provider\StockProviderInterface" type="Nosto\Tagging\Model\Service\Stock\Provider\CachingStockProvider"/>
    <preference for="Nosto\Tagging\Model\Service\Product\ProductSerializerInterface" type="Nosto\Tagging\Model\Service\Product\DefaultProductSerializer"/>
    <preference for="Nosto\Tagging\Model\Service\Product\ProductComparatorInterface" type="Nosto\Tagging\Model\Service\Product\DefaultProductComparator"/>
    <preference for="Symfony\Component\Console\Input\InputInterface" type="Symfony\Component\Console\Input\ArgvInput\Proxy"/>
    <preference for="Nosto\Tagging\Model\Mview\ChangeLogInterface" type="Nosto\Tagging\Model\Mview\ChangeLog"/>
    <preference for="Nosto\Tagging\Model\Mview\MviewInterface" type="Nosto\Tagging\Model\Mview\Mview"/>
    <preference for="Nosto\Tagging\Model\Service\Indexer\IndexerStatusServiceInterface" type="Nosto\Tagging\Model\Service\Indexer\IndexerStatusService"/>
    <preference for="Nosto\Tagging\Model\Service\Sync\BulkPublisherInterface" type="Nosto\Tagging\Model\Service\Sync\Upsert\AsyncBulkPublisher"/>
    <preference for="Nosto\Tagging\Model\Cache\Type\ProductDataInterface" type="Nosto\Tagging\Model\Cache\Type\ProductData" />
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="nostoProductObserverUpdate" type="Nosto\Tagging\Plugin\ProductUpdate"/>
    </type>
    <type name="Nosto\Tagging\Model\ResourceModel\Product\Update\Queue">
        <plugin name="nostoProductQueueObserverUpdate" type="Nosto\Tagging\Plugin\ProductQueueUpdate"/>
    </type>
    <type name="Nosto\Tagging\Console\Command\NostoAccountConnectCommand">
        <arguments>
            <argument name="nostoHelperAccount" xsi:type="object">Nosto\Tagging\Helper\Account\Proxy</argument>
            <argument name="nostoHelperScope" xsi:type="object">Nosto\Tagging\Helper\Scope\Proxy</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Console\Command\NostoAccountRemoveCommand">
        <arguments>
            <argument name="nostoHelperAccount" xsi:type="object">Nosto\Tagging\Helper\Account\Proxy</argument>
            <argument name="nostoHelperScope" xsi:type="object">Nosto\Tagging\Helper\Scope\Proxy</argument>
            <argument name="appConfig" xsi:type="object">Magento\Framework\App\Config\Storage\Writer\Proxy</argument>
            <argument name="nostoHelperCache" xsi:type="object">Nosto\Tagging\Helper\Cache\Proxy</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Console\Command\NostoGenerateCustomerReferenceCommand">
        <arguments>
            <argument name="customerFactory" xsi:type="object">Magento\Customer\Model\CustomerFactory\Proxy</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">nosto</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Magento\Framework\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Observer\Order\Save">
        <arguments>
            <argument name="intervalForNew" xsi:type="number">1</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="nosto_account_connect_command" xsi:type="object">
                    Nosto\Tagging\Console\Command\NostoAccountConnectCommand
                </item>
                <item name="nosto_account_remove_command" xsi:type="object">
                    Nosto\Tagging\Console\Command\NostoAccountRemoveCommand
                </item>
                <item name="nosto_generate_customer_reference_command" xsi:type="object">
                    Nosto\Tagging\Console\Command\NostoGenerateCustomerReferenceCommand
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="order_repository_nosto" type="Nosto\Tagging\Plugin\Sales\OrderRepository" />
    </type>
    <type name="Nosto\Tagging\Model\Product\Service">
        <arguments>
            <argument name="nostoHelperAccount" xsi:type="object">Nosto\Tagging\Helper\Account\Proxy</argument>
            <argument name="nostoHelperData" xsi:type="object">Nosto\Tagging\Helper\Data\Proxy</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Helper\Customer">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Cache\CacheService">
        <arguments>
            <!-- Default TTL value is equal to 7 days -->
            <argument name="lifeTime" xsi:type="number">604800</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Product\Attribute\CachingAttributeService">
        <arguments>
            <argument name="attributeService" xsi:type="object">
                Nosto\Tagging\Model\Service\Product\Attribute\DefaultAttributeService
            </argument>
            <argument name="maxCachedProducts" xsi:type="number">100</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Stock\Provider\CachingStockProvider">
        <arguments>
            <argument name="stockProvider" xsi:type="object">
                Nosto\Tagging\Model\Service\Stock\Provider\DefaultStockProvider
            </argument>
            <argument name="maxCacheSize" xsi:type="number">1000</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Product\Category\CachingCategoryService">
        <arguments>
            <argument name="categoryService" xsi:type="object">
                Nosto\Tagging\Model\Service\Product\Category\DefaultCategoryService
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Product\CachingProductService">
        <arguments>
            <argument name="defaultProductService" xsi:type="object">
                Nosto\Tagging\Model\Service\Product\DefaultProductService
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Product\SanitizingProductService">
        <arguments>
            <argument name="nostoProductService" xsi:type="object">
                Nosto\Tagging\Model\Service\Product\CachingProductService
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Block\Product">
        <arguments>
            <argument name="productService" xsi:type="object">
                Nosto\Tagging\Model\Service\Product\SanitizingProductService
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Product\CollectionBuilder">
        <arguments>
            <argument name="productService" xsi:type="object">
                Nosto\Tagging\Model\Service\Product\CachingProductService
            </argument>
        </arguments>
    </type>
    <type name="Magento\Indexer\Console\Command\IndexerSetDimensionsModeCommand">
        <arguments>
            <argument name="dimensionSwitchers" xsi:type="array">
                <item name="nosto_index_product_queue" xsi:type="object">
                    Nosto\Tagging\Model\Indexer\Dimensions\Queue\ModeSwitcher
                </item>
                <item name="nosto_index_product_queue_processor" xsi:type="object">
                    Nosto\Tagging\Model\Indexer\Dimensions\QueueProcessor\ModeSwitcher
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Indexer\Console\Command\IndexerShowDimensionsModeCommand">
        <arguments>
            <argument name="indexers" xsi:type="array">
                <item name="nosto_index_product_queue" xsi:type="string">nosto_index_product_queue</item>
                <item name="nosto_index_product_queue_processor" xsi:type="string">nosto_index_product_queue_processor</item>
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Indexer\QueueIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Indexer\Dimensions\StoreDimensionProvider
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Indexer\QueueProcesssorIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Indexer\Dimensions\StoreDimensionProvider
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Sync\Upsert\AsyncBulkPublisher">
        <arguments>
            <argument name="asyncBulkConsumer" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Service\Sync\Upsert\AsyncBulkConsumer
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Sync\Delete\AsyncBulkPublisher">
        <arguments>
            <argument name="asyncBulkConsumer" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Service\Sync\Delete\AsyncBulkConsumer
            </argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Sync\Upsert\SyncService">
        <arguments>
            <argument name="productService" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Service\Product\DefaultProductService
            </argument>
            <argument name="apiBatchSize" xsi:type="number">50</argument>
            <argument name="apiTimeout" xsi:type="number">60</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Sync\Delete\DeleteService">
        <arguments>
            <argument name="deleteBatchSize" xsi:type="number">100</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Update\QueueProcessorService">
        <arguments>
            <argument name="upsertBulkPublisher" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Service\Sync\Upsert\AsyncBulkPublisher
            </argument>
            <argument name="deleteBulkPublisher" xsi:type="object" shared="false">
                Nosto\Tagging\Model\Service\Sync\Delete\AsyncBulkPublisher
            </argument>
            <argument name="maxProductsInBatch" xsi:type="number">1000</argument>
            <argument name="cleanUpInterval" xsi:type="number">1</argument>
        </arguments>
    </type>
    <type name="Nosto\Tagging\Model\Service\Update\QueueService">
        <arguments>
            <argument name="batchSize" xsi:type="number">500</argument>
        </arguments>
    </type>
</config>
