<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Nosto_Tagging::system_nosto" title="Nosto" module="Nosto_Tagging" sortOrder="500" parent="Magento_Backend::system" resource="Nosto_Tagging::system_nosto" />
        <add id="Nosto_Tagging::system_nosto_account" title="Account Settings" module="Nosto_Tagging" sortOrder="0" parent="Nosto_Tagging::system_nosto" action="nosto/account" resource="Nosto_Tagging::system_nosto_account"/>
    </menu>
</config>